  <div class="container-fluid p-5" style="background:#74C7BE;min-height:91vh;color:white !important;" id="new_landing_page">
    <%= render "form", project: @project, url: user_project_path(@project) %>
  </div>
