<div class="container text-center">
  <h1 class="display-4 mt-5 mb-5">Liste des projets</h1>

  <div class="mt-5 d-md-flex flex-wrap justify-content-center text-center align-item-center mx-auto">
    <% current_user.projects.each do |project| %>
      <%= render "projects/project", object: project.metas, url:  edit_user_project_path(project) %>
    <% end %>

    <%= render "form", project: @project, url: user_projects_path %>
  </div>
</div>
