
<div id="projects">
  <% current_user.projects.each do |project| %>
    <div><%= project.url %></div>
  <% end %>
</div>

<div id="new_rpoject">
  <%= render "form", project: @project, url: user_projects_path %>
</div>


