<div class="d-flex justify-content-center flex-column">
  <div class="rounded mx-3 page-card normal-btn">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Visiter cette page :</h6>
      <h2 class="card-title"><%= link_to page.title, user_landing_page_path(page), target: :blank %></h2>
      <hr/>
      <div class="d-flex justify-content-around w-100">
        <h6 class="card-subtitle mb-2 text-muted">
          <%= link_to edit_user_landing_page_path(page) do %>
            Modifier
            <i class="fas fa-pen-square"></i>
          <% end %>
        </h6>
        <h6 class="card-subtitle mb-2">
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fmihivai-supports.herokuapp.com%2Fuser%2Flanding_pages%2F<%= page.id %>&layout=button_count&size=small&mobile_iframe=true&appId=179551832887384&width=83&height=20" width="83" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </h6>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center align-item-center">
    <% page.users.each do |user| %>
      <div class="mt-2 mb-3 mx-3">
        <%= user.name %>
      </div>
    <% end %>
  </div>
</div>
