.page-list-container {
  width:30%;
  overflow:auto;
  display:block;
}

.page-form-container {
  width:60%;
  background:#74C7BE;
  color:white !important;
  box-shadow:4px 4px 20px -1px rgba(0,0,0,0.2);
}

.page-card {
  width: 20rem;
  background:white;
}
