.margin-top-bottom-100px {
  margin-top: 100px;
  margin-bottom: 100px;
}
.margin-top-bottom-50px {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper-legal {
  h2, h3, h4 {
    color:  rgb(0,169,157) !important;
  }
  p {
    font-size: 12px;
  }
  li {
     font-size: 12px;
  }
}
