@media screen and (max-width:1050px){
  #display_project{
    width:100% !important;
  }
  #new_project {
    width:90% !important;
    margin: auto !important;
  }
  .card-project {
    margin:0 auto !important;
  }
  #new_landing_pages {
    width:90% !important;
  }
  #display_landing_pages {
    width:100% !important;
  }

}
