h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Source-sans-pro', sans-serif !important;
}

a, a:hover, a:visited {
  color:#49A69C;
}

#navbar {
  height:9vh;
  background-color: $light-gray;
}
