<div class="footer-mhv-bg">

    <div class="container footer-mihivai-block">
      <div class="row">
        <div class="col-7 offset-2 col-sm-5 offset-sm-1 col-md-2 offset-md-1 footer-mhv-col">
          <p>MIHIVAI</p>
            <ul>
              <li><b>Accompagner,<br>Transmettre,<br>Innover</b></li><br>
              <li>Agence de développement web<br> à Bordeaux</li><br>
              <li><a href="">Mentions Légales</a></li>
              <li>Tout droits réservés<br>© Mihivai 2019</li>
            </ul>
        </div>
        <div class="col-7 offset-2 col-sm-5 offset-sm-1 col-md-2 offset-md-1 footer-mhv-col">
          <p>SERVICES</p>
            <ul>
              <li>Développement<br>Formation<br>Conseil</li><br>
              <li>Vous voulez être accompagné<br> dans votre projet ?<br> Contactez-nous</li>
            </ul>
        </div>
        <div class="col-7 offset-2 col-sm-5 offset-sm-1 col-md-2 offset-md-1 footer-mhv-col">
          <p>CONTACT</p>
            <ul>
              <li>Jonathan Serafini<br>06 18 23 73 31<br><a href="mailto:jonathan.serafini@gmail.com">jonathan.serafini@gmail.com</a></li><br>
              <li>Claudine Pradal<br>07 67 51 06 48<br><a href="mailto:clo.pradal@gmail.com">clo.pradal@gmail.com</a></li><br>
              <li>Adresse : 107, cours Balguerie-Stuttenberg<br>33 300 Bordeaux</li>
            </ul>
        </div>
        <div class="col-7 offset-2 col-sm-5 offset-sm-1 col-md-2 offset-md-1 footer-mhv-col">
          <p>SUIVEZ-NOUS</p>
          <div class="footer-mhv-icon">
          <a href="https://www.facebook.com/mihivai.web/" target="_blank"><i class="fab fa-facebook footer-icon"></i></a><a href="https://www.linkedin.com/company/mihivai/about/" target="_blank"><i class="fab fa-linkedin"></i></a><a href="https://github.com/mihivai" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
      </div>
    </div>






<%#= link_to "click me", root_path %>
<%#= link_to "click me", lab_path %>
<%#= link_to "click me", legal_path %>

<%# sentences = [["bonjour", legal_path], ["allo", lab_path], ["goodbye", root_path]] %>
<%# sentences.each do |sentence| %>
  <%#= link_to sentence[0], sentence[1] %>
<%# end %>
