<div class="container-fluid p-5" style="background:rgb(0,175,160);min-height:91vh;color:white !important;" id="new_landing_page">
  <%= render "form", landing_page: @landing_page, url: user_landing_page_path(@landing_page) %>
</div>
