<%# if object %>
  <%#= link_to url do %>
<!--     <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%#= object.images.best %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%#= object.title %></h5>
        <p class="card-text"><%#= object.description %></p>
      </div>
    </div> -->
  <%# end %>
<%# end %>


<div class="rounded mx-3 card-project">
  <div class="card-body d-flex justify-content-around flex-column" style="min-height:18rem">
    <% if object %>
      <%= link_to object.url do %>
        <h6 class="card-subtitle mb-2 text-muted">Détails du projet :</h6>
        <img class="my-2" style="height:4rem" src="<%= object.images.best %>" alt="">
        <h5 class="pt-3 align-items-start"><%= object.title %></h5>
        <hr/>
      <% end %>
    <% else %>
      <h3>Meta tag non valides</h3>
    <% end %>
    <div class="d-flex justify-content-center w-100 mx-auto">
      <h6 class="card-subtitle my-1 text-muted">
        <%= link_to url do %>
          Modifier
          <i class="fas fa-pen-square"></i>
        <% end %>
      </h6>
    </div>
  </div>
</div>
