<div class="text-center">
  <h1><%= @course.title %></h1>
  <iframe src="<%= @course.link %>" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
