.banner {

  background-image: image-url('bg_banner.svg');
  background-position: bottom right;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  display: flex;

}

.logo-banner {
  margin: auto;
  width: 30%;
  min-width: 300px;
  height: auto;
  margin-top: 150px;

}

.item-title {
  color: #03e0ca;
  font-size: 14px;
  margin-bottom: 30px;
  text-align: left;
  margin-top: 40px;

}

.item-text {
  color: #03e0ca;
  font-size: 14px;

}

.item-banner-absolute {
  position: absolute;
  bottom: 40px;
  left: 40px;

}


 @media (max-width: 767px) {

    .banner {
      height: 50vh;

    }

    .item-box {
      max-width: 110px;


    }

    .logo-banner {

      width: 25%;
      min-width: 150px;
      height: auto;
      margin-top: 80px;

      }

    .item-title {
      font-size: 14px;
      margin-bottom: 10px;
      text-align: left;
      margin-top: 0;
      margin-left: 20px;
    }


    .item-text {
      font-size: 12px;
    }

    .item-banner-absolute {
      position: absolute;
      bottom: 0px;
      left: 0px;

    }



  }

