
.separate {
  height:2px;
  width:80%;
  background-color: white;
  margin:3em auto;
}

.bubble {
  padding:0.5rem;
  border-radius:50px;
  background-color:#74C7BE;
  color:white;
  box-shadow: 0px 0px 20px -5px white;
  margin-right:5px;
}
