<div class="container-fluid text-center">
  <h1 class="display-4 mt-5 mb-5 text-white">Notes</h1>
  <div class="mt-5 d-md-flex flex-wrap justify-content-center text-center align-item-center mx-auto">
    <% @surveys.each do |survey| %>
      <% unless (survey.questions.empty? || survey.hidden )&& !current_user.admin? %>
        <% x = matchAnswers(current_user, survey)%>
        <% y = survey.questions.count %>
        <div class="rounded mx-auto page-card normal-btn my-3">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><b>QCM : <i><%= survey.title %></i></b></h6>
            <p><%= "#{x} / #{y}"%> bonnes réponses.</p>
            <hr/>
            <h6 class="card-subtitle mx-4 my-0 text-muted text-center">Note finale : <b><%= getNote(x,y) %> / 20.0</b>.</h6>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
